<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Gasto</title>
</head>
<body>
    <h2>Editar Gasto</h2>
    <form method="post">
        
        <input type="hidden" name="costo_total" value="{{ gasto.costo_total }}">
        
        <label for="liquidaciones">Liquidaciones:</label><br>
        <input type="text" id="liquidaciones" name="liquidaciones" value="{{ gasto.liquidaciones }}"><br>
        
        <label for="costo_mensual">Costo Mensual:</label><br>
        <input type="text" id="costo_mensual" name="costo_mensual" value="{{ gasto.costo_mensual }}"><br>
        
        <label for="arriendo_local">Arriendo Local:</label><br>
        <input type="text" id="arriendo_local" name="arriendo_local" value="{{ gasto.arriendo_local }}"><br>
        
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>
