<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Ingrediente</title>
</head>
<body>
    <h2>Agregar Ingrediente</h2>
    <form method="post">

        <label for="id_ingredientes">ID del Ingrediente:</label><br>
        <input type="text" id="id_ingredientes" name="id_ingredientes"><br>
        
        <label for="costo_ingrediente">Costo del Ingrediente:</label><br>
        <input type="text" id="costo_ingrediente" name="costo_ingrediente"><br>
        
        <label for="costo_mensual">Costo Mensual:</label><br>
        <input type="text" id="costo_mensual" name="costo_mensual"><br>
        
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
