<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static/adminRestaurant/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'inicio' %}">Inventario</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'adminRestaurant/inventario' %}">Inventario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'adminRestaurant/gastos' %}">Gastos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'adminRestaurant/empleados' %}">Staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'adminRestaurant/inicio' %}">Cierre de sesión</a>
                </li>
            </ul>
        </div>
    </nav>
    {% load static %}

    <h1>Lista de Inventarios</h1><br>
    <br>
    
    <button type="button">
        <a href="{% url 'inventarioadd' %}">Agregar</a>
    </button>
    
    <div id="idMensajes">
        {% if mensaje %}
            {{ mensaje }}
        {% endif %}
    </div>
    <table>
        {% if inventarios %}
            <th>ID Ingredientes</th>
            <th>Costo Ingrediente</th>
            <th>Costo Mensual</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for inventario in inventarios %}
                <tr>
                    <td>{{ inventario.id_ingredientes }}</td>
                    <td>{{ inventario.costo_ingrediente }}</td>
                    <td>{{ inventario.costo_mensual }}</td>
                    <td><a href="{% url 'inventario_del' pk=inventario.id_ingredientes %}">Eliminar</a></td>
                    <td><a href="{% url 'inventario_findEdit' pk=inventario.id_ingredientes %}">Modificar</a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#idMensajes").delay(2000).fadeOut("slow");
        });
    </script>
    
    <!-- Enlaces a los archivos JS de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
